{% extends 'base.html' %}
{% block content %}
<form action="{% url 'main:post_register' %}" method="POST">{% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input type="password" class="form-control" id="password1" name="password1">
    </div>
    <div class="mb-3">
        <label for="password2" class="form-label">Confirm password</label>
        <input type="password" class="form-control" id="password2" name="password2">
    </div>
    <input type="submit" class="btn btn-primary" value="Register">
    <br>
    {{ error }}
</form>
{% endblock %}